<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Import poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>

  <body>
    <section class="header">
      <nav>
        <a href=""><img src="img/logo.png" /></a>
        <div class="homeburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="/index">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/course">COURSE</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/">REGISTER</a></li>
          </ul>
        </div>
      </nav>

      <div class="text-box">
        <h1>Mahatma Gandhi P.G Collage Shrimadhopur</h1>
        <p>The Mahatma Gandhi PG Collage is successfully maintaining its high
          academic standards through all post years with its
          <br />
          students securing positions in the University Merits and other
          competitive exams.
        </p>
        <a href="" class="hero-btn">Visit Us To Know More</a>
      </div>

    </section>

    <!-- Course -->
    <section class="course">
      <h1>Course We Offer</h1>
      <p>It's all a professional course that prepare teacher to teach sec. &
        sr.sec. classes</p>

      <div class="row">
        <div class="course-col">
          <h3>Under Graduation</h3>
          <p>Undergraduate education is education conducted after secondary
            education and before postgraduate education. It typically includes
            all postsecondary programs up to the level of a bachelor's degree.
          </p>
        </div>
        <div class="course-col">
          <h3>Deploma Courses</h3>
          <p>a "Diploma", a qualification granted by vocational education and
            training (VET) sector or university. It is typically completed with
            12 to 18 months of full-time study. When accepted for credit as part
            of a bachelor's degree, it is usually deemed to be equivalent to the
            first year of the degree.</p>
        </div>
        <div class="course-col">
          <h3>Post Graduation</h3>
          <p>These are sometimes placed in a further hierarchy, starting with
            degrees such as the Master of Arts (from Latin Magister artium;
            M.A.) and Master of Science (from Latin Magister scientiae; M.Sc.)
            degrees, then the Master of Philosophy degree (from Latin Magister
            philosophiae; M.Phil.).</p>
        </div>

      </div>
    </section>

    <!-- Campus -->
    <section class="campus">
      <h1>Our Collage Campus</h1>
      <p>Our collage campus includes libraries, lecture halls,residence
        halls,students centers.</p>
      <div class="row">
        <div class="campus-col">
          <img src="img/gandhi.JPG" />
          <div class="layer">
          </div>
        </div>
        <div class="campus-col">
          <img src="img/India.JPG" />
          <div class="layer">
          </div>
        </div>
        <div class="campus-col">
          <img src="img/Gg.JPG" />
          <div class="layer">
          </div>
        </div>
      </div>

    </section>

    <!-- Facilities -->
    <section class="facilities">
      <h1>Our Facilities</h1>
      <div class="row">
        <div class="facilities-col">
          <img src="img/library1.jpg" />
          <h3>Library</h3>
          <p>A library is a collection of materials, books or media that are
            accessible for use and not just for display purposes. A library
            provides physical (hard copies) or digital access (soft copies)
            materials, and may be a physical location or a virtual space, or
            both.</p>
        </div>
        <div class="facilities-col">
          <img src="img/sport1.jpg" />
          <h3>Sports</h3>
          <p>Sport pertains to any form of physical activity or game,often
            competitive and organised, that aims to use, maintain, or improve
            physical ability and skills while providing enjoyment to
            participants and, in some cases, entertainment to spectators..</p>
        </div>
        <div class="facilities-col">
          <img src="img/lab.jpg" />
          <h3>Computer Lab</h3>
          <p>
            A computer lab is a space where computer services are provided to a
            defined community. These are typically public libraries and academic
            institutions. enerally, users must follow a certain user policy to
            retain access to the computers. T</p>
        </div>
      </div>

    </section>

    <!-- Testimonials -->
    <section class="testimonials">
      <h1>What Our Student Says</h1>
      <div class="row">
        <div class="testimonials-col">
          <img src="img/s1.jpg" />
          <div>
            <p>I am currently pursuing my bachelors degree in mass communication
              honours. The quality of teaching is average. The faculty is well
              trained and helpful. The curriculum is updated.
            </p>
            <!-- icons -->
          </div>
        </div>
        <div class="testimonials-col">
          <img src="img/s2.jpg" />
          <div>
            <p>Yes, our college has all the necessary infrastructure, facilities
              and equipment. Our classrooms have only a blackboard. The
              libraries and sports centres are well maintained.
            </p>
            <!-- icons -->
          </div>
        </div>
      </div>
    </section>

    <!-- call to Action -->
    <section class="cta">
      <h1>Enroll for our varius online courses Anywhere From the World</h1>
      <a href="/contact" class="hero-btn">CONTACT US</a>
    </section>

    <!-- Footer -->
    <section class="footer">
      <h4>About Us</h4>
      <p>Shrimadhopur is a city and a municipality in Sikar district in the 
        state of Rajasthan. It is one of the Eight tehsils of the district.  <br>The
        town is a market place for the agricultural produce of the surrounding 
        area. The Delhi-Mumbai front corridor will be passing through this town. <br>
        The basic architecture of this town is similar to the "pink city" of 
        Jaipur. The town gets its name from Sawai Madho Singh. <span><h5>Mahatma Gandhi <br>
        P.G. College, Shrimadhopur (Sikar) Raj. established in 2006 under the 
        society of Naval Shikshan Sansthan</h5></span></p>
      <div class="icons">
        <!-- icons -->
      </div>
    </section>
    <script>
      const homeburger = document.querySelector(".homeburger");
      homeburger.onclick = function () { const navBar =
      document.querySelector(".nav-links"); navBar.classList.toggle("active"); }
    </script>
  </body>

</html>